#
# AzerothCore
#

conf/*
!conf/dist
apps/drassil/*
env/dist/*
env/user/*
#modules/*
#!modules/*.md
#!modules/*.sh
build*/
var/*

docker/build/cache
docker/build/cache-blizz
docker/build/cache-blizz-ptr
docker/build/cache-custom
docker/build/cache-custom-ptr

docker/authserver/bin
docker/authserver-blizz/bin
docker/authserver-custom/bin

docker/worldserver/bin
docker/worldserver-blizz/bin
docker/worldserver-blizz-ptr/bin
docker/worldserver-custom/bin
docker/worldserver-custom-ptr/bin

docker/authserver/etc/authserver.conf
docker/authserver-blizz/etc/authserver.conf
docker/authserver-custom/etc/authserver.conf

docker/authserver/etc/authserver.conf.dist
docker/authserver-blizz/etc/authserver.conf.dist
docker/authserver-custom/etc/authserver.conf.dist

docker/worldserver/etc/worldserver.conf
docker/worldserver-blizz/etc/worldserver.conf
docker/worldserver-blizz-ptr/etc/worldserver.conf
docker/worldserver-custom/etc/worldserver.conf
docker/worldserver-custom-ptr/etc/worldserver.conf

docker/worldserver/etc/worldserver.conf.dist
docker/worldserver-blizz/etc/worldserver.conf.dist
docker/worldserver-blizz-ptr/etc/worldserver.conf.dist
docker/worldserver-custom/etc/worldserver.conf.dist
docker/worldserver-custom-ptr/etc/worldserver.conf.dist

docker/authserver/logs/
docker/authserver-blizz/logs/
docker/authserver-custom/logs/

docker/worldserver/logs/
docker/worldserver-blizz/logs/
docker/worldserver-blizz-ptr/logs/
docker/worldserver-custom/logs/
docker/worldserver-custom-ptr/logs/

docker/worldserver/data/
docker/worldserver-blizz/data/
docker/worldserver-blizz-ptr/data/
docker/worldserver-custom/data/
docker/worldserver-custom-ptr/data/

!docker/build
.env
apps/joiner

!.gitkeep

#
#Generic
#

.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*

#
# IDE & other software
#
/.settings/
/.externalToolBuilders/*
# exclude in all levels
nbproject/
.sync.ffs_db
*.kate-swp
.browse.VC*
.vscode
.idea
cmake-build-debug/*
cmake-build-debug-coverage/*
coverage-report/
.vs
#
# Eclipse
#
*.pydevproject
.metadata
.gradle
tmp/
*.tmp
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.cproject


# ==================
#
#  CUSTOM
#  
#  put below your custom ignore rules
#  for example , if you want to include a 
#  module directly in repositoryyou can do:
#
#  !modules/yourmodule
#
# ==================
